.house{
    width:45%;
    margin: 20px 0 20px 20px;
    display: inline-block;
    cursor:pointer;
    background: #f7f7f9;
    padding:10px;
}

.house:hover{
    background: #fff;
}

img{
    width:100%;
}

.loader{
    width:50px;
}

.text-center{
    text-align: center;
}
