.house{
    width:45%;
    margin: 20px 0 20px 20px;
    display: inline-block;
    cursor:pointer;
    background: #f7f7f9;
    padding:10px;
}

.house:hover{
    background: #fff;
}

img{
    width:100%;
}

.loader{
    width:50px;
}

.text-center{
    text-align: center;
}
.number-of-property{
    color: grey;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

.btn{
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
}